<button
    class="dark-mode-toggler"
    _ngcontent-ng-c2282602668=""
    color="secondary--gray"
    mat-icon-button=""
    class="mat-mdc-tooltip-trigger theme-toggle mdc-icon-button mat-mdc-icon-button mat-secondary--gray mat-mdc-button-base gmat-mdc-button"
    mat-ripple-loader-class-name="mat-mdc-button-ripple"
    mat-ripple-loader-centered=""
    aria-label="Switch to light theme"
>
    <span
        class="mat-mdc-button-persistent-ripple mdc-icon-button__ripple"
    ></span
    ><!----><gf-icon
        _ngcontent-ng-c2282602668=""
        name="light_mode"
        _nghost-ng-c2993667879=""
        role="presentation"
        aria-hidden="true"
        class="ng-star-inserted"
        style="width: 24px; height: 24px"
        ><mat-icon
            _ngcontent-ng-c2993667879=""
            role="img"
            fontset="google-symbols-subset"
            class="mat-icon notranslate icon google-symbols-subset mat-icon-no-color"
            aria-hidden="true"
            data-mat-icon-type="font"
            data-mat-icon-namespace="google-symbols-subset"
            style="font-size: 24px; width: 24px; height: 24px"
            >light_mode</mat-icon
        ></gf-icon
    ><!----><span class="mat-mdc-focus-indicator"></span
    ><span class="mat-mdc-button-touch-target"></span
    ><span class="mat-ripple mat-mdc-button-ripple"></span>
</button>
